@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  background-image: url("../../img/backgrounds/atas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.container{
  max-width: 600px;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  /* background-color: #fff; */
  padding: 10px 25px 15px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  padding: 20px 25px 35px 25px;
  border: 2px solid rgba(255, 255, 255, 0.466);
  background-color: rgba(250, 235, 215, 0.336);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
header{
  padding: 5px 0 0 0;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
}
/* header::before{
  content: "";
  position: absolute;
  left: 5px;
  bottom: 20px;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
} */

.input-box{
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 0;
}

.input{
  height: 40px;
  width: 100%;
  border: none;
  outline: 1px;
  border-radius: 10px;
  color: black;
  border-bottom-width: 2px;
  padding: 0 20px 0 20px;
  background: rgba(255, 255, 255, 0.342);
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(2 - 20px);
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 30px 12px 0;
}
/* .user-details .input-box input{
  height: 45px;
  width: 50%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
} */
/* .content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 30px 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
} */
.error{
    
    border: 0.2rem solid rgb(179, 4, 4);
    border-radius: 10px;
    /* height: 45px;
    width: 87%;
    outline: 1px;
    border-radius: 10px;
    color: black;
    padding: 0 20px 0 20px;
    background: rgba(255, 255, 255, 0.342); */
}

.text-error{
  width: 200px;
  height: 70px;
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: rgb(179, 4, 4);
}
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .prodi-details .prodi-title{
  font-size: 20px;
  font-weight: 500;
  
 }
 form .category{
   display: flex;
   width:auto;
   flex-flow: column;
   margin: 14px 0 0 30px;
   justify-content: space-between;
   
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
   
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .active-1,
 #dot-2:checked ~ .category label .active-2,
 #dot-3:checked ~ .category label .active-3,
 #dot-4:checked ~ .category label .active-4,
 #dot-5:checked ~ .category label .active-5,
 #dot-6:checked ~ .category label .active-6,
 #dot-7:checked ~ .category label .active-7,
 #dot-8:checked ~ .category label .active-8
 #dot-9:checked ~ .category label .active-9
 #dot-10:checked ~ .category label .active-10
 #dot-11:checked ~ .category label .active-11
 #dot-12:checked ~ .category label .active-12
 #dot-13:checked ~ .category label .active-13
 #dot-14:checked ~ .category label .active-14
 #dot-15:checked ~ .category label .active-15
 #dot-16:checked ~ .category label .active-16
 #dot-17:checked ~ .category label .active-17
 {
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: rgb(177, 78, 95);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #b14e5f);
  box-shadow: 1px 5px 7px 1px rgba(59, 67, 177, 0.541);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

p a{
  color: rgb(247, 249, 250); 
  font-size: 15px;
  text-align: center;
}